{%- macro ip_to_ams_net_id(hostname) -%}
{%- set ipaddr = lookup('community.general.dig', hostname, fail_on_error=True) -%}
{{ ipaddr }}.1.1
{%- endmacro -%}

{%- macro ams_net_id_to_binary(ams_net_id) -%}
{%- for part in ams_net_id | split(".") -%}
  {{ "%02X" | format(part | int) }}
{%- endfor -%}
{%- endmacro -%}
